[submodule "libraries/Kaleidoscope"]
	path = libraries/Kaleidoscope
	url = git@github.com:Dygmalab/Kaleidoscope-Dygma.git
[submodule "libraries/PluginLedLibrary"]
	path = libraries/PluginLedLibrary
	url = git@github.com:Dygmalab/KaleidoscopePuglinLedLibraryDefy.git
[submodule "libraries/UpgradeKeyscanner"]
	path = libraries/UpgradeKeyscanner
	url = git@github.com:Dygmalab/KaleidoscopePluginKeyScannerUpgrade.git
[submodule "libraries/Communications"]
	path = libraries/Communications
	url = git@github.com:Dygmalab/DefyCommunications.git
	branch = of-rf_host_lib_integration
[submodule "libraries/Arduino"]
	path = libraries/Arduino
	url = git@github.com:Dygmalab/Arduino_NRF5.git
[submodule "libraries/Ble_composite_dev"]
	path = libraries/Ble_composite_dev
	url = git@github.com:Dygmalab/Ble_composite_dev.git
[submodule "libraries/rf_host_device/rf_host_device"]
	path = libraries/rf_host_device/rf_host_device
	url = git@github.com:Dygmalab/rf_host_device.git
	branch = main
